

@media screen and (min-width: 1740px){
    .inner-full-width {
        width:1390px;
        //margin-left: -600px;
    }
    .section {
        width:300px;
    }
}
@media screen and (min-width: 1540px) and (max-width: 1740px){
    .inner-full-width {
        width:calc(30% + 868px);
        //margin-left: -450px;
    }
    .section {
        width:250px;
    }
}

@media screen and (min-width: 1340px) and (max-width: 1540px){
    .inner-full-width {
        width:calc(72% + 221px);
        //margin-left: -450px;
    }
    .section {
        width:200px;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1340px){
    .inner-full-width {
        width:calc(80% + 114px);
        //margin-left: -450px;
    }
    .section {
        width:150px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1140px){
    .inner-full-width {
        width:  90%;
        //margin-left: -400px;
    }
    .section {
        width: 100px;
    }
}
@media screen and (max-width: 1000px){
    .inner-full-width {
        width: calc(100% - 100px);
        //margin-left: -400px;
    }
    .section {
        width:100px;
    }
}

.forum-place {
    margin-left: 35%;
    font-size: 1.1em;
    margin-top: 1%;
}

.forum-place-prof {
    margin-left: 10%;
    font-size: 1.1em;
    top: 40px;
}

/*
.profile-inf{
    margin-left: 5%;
    margin-top: 2%;
}
*/

.show-name{
    font-size: 1.6em;
    margin-left:1%;

}

.edit-profile{
    font-size: 1.1em;
    margin-left: 5%;
    margin-top: 1%;
}

#change{
    font-size: 1.3em;
}

.inner-full-width-extended {
    width: 80%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

