.navbar {
    position: fixed;
    /*background-color: #3388cc;
    background-image: linear-gradient(to bottom,#206499 0,#77afd3 120%);*/
    height: 60px;
    width: 100%;
    margin-top: 0px;
    display: block;
    z-index: 600;  
}

.navbar-content {
    position: relative;
    height: inherit;
    

}
.navbar-center {
    position: absolute;
    left:300px;
    top:20px;
    width: 250px;

}

.navbar-center ul.user-search-results {
    background-color: #fff;
    display: none;
    min-height: 20px;
}
.navbar-right {
    float:right;
    margin-right: 10px;
}
/*
.main-title {
    left:5px;
    /*position: relative;*//*
    padding-left: 5px;
    line-height: 60px;
    font-size: 36px;
    font-family: "Comic Sans";
    color: #f7f7f7;
    font-style: italic;
    text-shadow: 
        0px 0px #80b4e0,
        1px 1px #80b4e0,
        2px 2px #80b4e0,
        3px 3px #80b4e0,
        4px 4px #80b4e0;

}
.main-title:hover{
    color: #eee;
}

*/
.navbar .logo-inverted {
    height: 40px;
    margin: 10px; 
}

ul.user-search-results .name,ul.user-search-results .school {
    position: absolute;
    left: 60px;
    top: 5px;
}

ul.user-search-results .school {

    top: 25px;
}
ul.user-search-results li {
    position: relative;
    margin: 5px 0;
}

.navbar-center input {
    width: 100%;
}
input.user-search:focus + ul.user-search-results,.navbar-center:hover ul.user-search-results {
    display: block;
}

.google-search {
    width: 15%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 40px;
    
}

.gsc-control-cse {
    padding: 5px;
}

.navbar-name{
    color: white;
}

/*
.navbar-menu {
    position: fixed;
    width: 100%;
    height: 40px;
    /*background-color: #01579B;/*#e38817;//#d66974;//#ca684f;
    top:60px;
    text-align: center;
    display: block;
    z-index: 500;
}
*/
ul.menu-content {
    height: inherit;
    position: relative;
    margin-top: 0;
    top:0;
    bottom: 0;
    /*display: inline-block;
    left: 240px;*/

}

ul.menu-content > li {
    vertical-align: middle;
    text-align: center;
    float: left;
    border-collapse: collapse;
    border: 0px;
    /*border-left: 1px black solid;*/
    width: 20%;
    margin: 0px;
    font-size: 17px;
    font-family: Roboto;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    transition: all 0.2s ease;
    position: relative;

}
ul.menu-content > li.shrunk {
    width: 10%;
}
ul.menu-content > li:first-child {

    /*border-left: 0px;*/

}

.menu-link, .menu-link-sec, .menu-link-thir {
    text-decoration: none;
    color: #fff;
    width:100%;
    /*font-weight: bold;*/
    font-family: Helvetica, Arial, sans-serif;
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
}

.menu-link {
    display: inline-block;
    height: 60px;
    font-weight: 600;
}

.menu-link-sec, .menu-link-thir {
    line-height: 30px;
    width: 100%;
    height: 30px;
}

.navbar .drop-down {
    width:100%;
    padding:0px;
    /*background-color: #01579B;/*#e38817;//d66974;*/
    box-shadow: 0px 4px 8px #555;
    /*max-*/
    height: 0px;
    opacity:0;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: 60px;
}
.navbar-menu .drop-down.drop-horiz {
    position: relative;
    left: 100%;
    top: -30px;
}

.navbar-menu li#chat .drop-down.drop-horiz {
    /*left:0;
    //right: 100%;*/
    left: -100%;
}


ul {
    list-style-type: none;
    padding: 0px;
}

div.drop-holder {
    height:30px;
}

div.drop-holder > * {
    display:inline-block;
    transition: all 0.2s ease;
}

ul.drop-down > li {
    width:100%;
    height:30px;
    line-height: 30px;
    transition: all 0.2s ease;
}

li:hover > .drop-down, li:hover > .drop-down-holder > .drop-down {
    overflow: initial;
    height: initial;
    opacity: 1;
    /*max-height: 100000000px;*/
}

ul.drop-down > li:hover:not(.big-space):not(.space):not(.chat-list-holder), li.chat-conv-user:hover {
    background-color: #0288D1;/*#01579B;//#ca684f;*/
}

ul.menu-content > li:hover > a.menu-link {
    /*font-weight: bold;
    color: #eee;
    /*background-color: #3388cc;#ca684f;//#c05840;
    //color: #fff;*/
}
/*
nav * {
    z-index: 2;
}*/

.page-content,.page-content * {
    z-index:100;
}

li.space {
    padding: 6px 0px;
    height: 13px !important;
    width: 100%;
    /*background-color: #361;*/
}

