/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6.1.2017, 17:51:58
    Author     : Dijak
*/

.theme-blue {
    background-color: #00a4d1;
    /*border: 1px solid rgb(117,206,225);*/
}

.theme-blue-text {
    color: #00a4d1;
}

.theme-dark-blue {
    background-color: #0085b2;
    /*border: 1px solid rgb(117,206,225);*/
}

.theme-dark-blue-text {
    color: #0085b2;
}

.theme-orange-3 {
    background-color: #f27935;
}
.theme-orange-2 {
    background-color: #f68745;
}

.theme-orange {
    background-color: #f8994e;
}

.theme-orange-text {
    color: #f8994e;
}

.theme-bright-orange {
    background-color: #ffb95e;
}

.theme-background-siva {
    background-color: #eaedf1;
}
.theme-background-siva-text {
    color: #eaedf1;
}

.theme-green {
    background-color: #1fbba6;    
}
.theme-green-text {
    color: #1fbba6;    
}

.theme-dark-gray {
    background-color: #323a45;    
}
.theme-dark-gray-text {
    color: #323a45;    
}

.theme-gray {
    background-color: #9ea7b3;    
}
.theme-gray-text {
    color: #9ea7b3;    
}


/*buttons*/

.theme-btn {
  padding: 4px 8px;
  border-radius: 3px;
  border: none;
  outline:none;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 600;
  letter-spacing: 0.2px;
}

.theme-orange.theme-btn {
  color: white;
}
